@import url(general.css);

.geeth-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.main-side-bar{
    height: 93vh;
    background-color: #E6E6FA;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    
    
}

.brand-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand-header .icon{
    font-size: 3.2rem;
    color: #444;
    display: none;
}

.brand-name{
    font-family: 'Kanit', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    /* letter-spacing: 5px; */
    color: purple;
    
}

.categorys{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.category{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    text-transform: uppercase;
    color: #444;
    cursor: pointer;
}

ion-icon{
    font-size: 1.6rem;
}

input[type = "file"]{
    /* display: none; */
    visibility: hidden;
}

.add-song-btn{
    cursor: pointer;
    padding: 1.2rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:  2px solid purple;
    border-radius: 10px;
    
}

.icon{
    color: purple;
}


/* Main Content */
.main-content{
    background-color: #ffffff;
    padding: 2rem;
    overflow-x: hidden;
   
}


.main-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav input{
    width: 60vw;
    padding: 1.2rem 2.4rem;
    border: 1px solid #44444413;
    border-radius: 20px;
    
}

.side-bar-menu{
    display: none;
    font-size: 2.4rem;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;

}

.search-icon{
    font-size: 2.8rem;
    color: #444444ce;
    
}

.main-nav img{
    width: 40px;
}




.music-card{
    margin-top: 100px;
    position: relative;
    height: 350px;
}

.card{
    padding: 2rem;
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.207);
}



.card-1{
    z-index: 4;
    background-image: linear-gradient(#de77b5,#e349a59d);
    
    width: 50vw;
    
    perspective: 1000px;
    transform-style: preserve-3d;
    
}

/* .new-card{
    z-index: 3;
    background-image: linear-gradient(#b6f73d,#FF6969);
    width: 60vw;
    perspective: 1000px;
    transform-style: preserve-3d;
} */

.card-2{
    z-index: 2;
    background-image: linear-gradient(#f73d3d,#FF6969);
    width: 60vw;
   
}
.card-3{
    z-index: 1;
    
    background-image: linear-gradient(#7d5169,#771149);
    width: 70vw;
    
}

.card-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.song-name-heading{
    font-family: 'Caveat', cursive;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 5.6rem;
    font-style: italic;
    
}

.album{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:5px;
    bottom: 0px;
    left: 10px;
}

.card-content img{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
    width: 20%; */

    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin:-60px 0 0 -60px;
    
    
}

/* Add this class to rotate image */
.rotate-image {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }

  /* Add this class to play next Song */
  .next-song{
    animation: nextSong 1s linear 1;
    
  }

  /* Add this class to new card in next song button */
  .new-card-next-song{
    animation: newCard-nextSong 1s linear 1;
  }

/* Rotate Animation */

  @-moz-keyframes spin { 
        100% { -moz-transform: rotate(360deg); } 
        }
        @-webkit-keyframes spin { 
            100% { -webkit-transform: rotate(360deg); } 
        }
        @keyframes spin { 
            100% { 
                -webkit-transform: rotate(360deg); 
                transform:rotate(360deg); 
            } 
    }

/* Next Song Animation */

@keyframes nextSong {
    25%{
        .card-1{
            left: 70%;
            transform: rotateY(45deg);
            /* opacity: 90%; */
        }
        /* .new-card{

        } */
    }

    50%{
        .card-1{
            left: 80%;
            transform: rotateY(75deg);
            /* opacity: 70%; */
        }
    }

    75%{
        left: 90%;
        transform: rotateY(90deg);
        /* opacity: 50%; */
    }

    100%{
        
        left: 100%;
        transform: rotateY(180deg);
        opacity: 0; 
        
    }
}



/* Animation for new card after next song button */

    @keyframes newCard-nextSong {
        0%{
            
            width: 60vw;
            opacity: 20%;
        }
        25%{
            
            width: 57vw;
            opacity: 50%;
        }
        50%{
            
            width: 54vw;
            opacity: 75%;
        }
        100%{
            
            width: 50vw;
            opacity: 100%;
        }
        
    }


.timer{
    
    position: absolute;
    right: 0;
    bottom: 10px;
}

/* Next and Previous Button on card */

.next-prev-btn{
    font-size: 4.2rem;
}

.prev-btn{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-75%);
}

.next-btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-75%);
}

/* Artist card  */


.artist-card{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    
    /* display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-content: center; */
    
}

.artist{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
    

.artist img{
    height: 125px;
    width: 125px;
    box-shadow: 0px 15px 15px #00000011;
    border-radius: 20px;
    
    
}

.artist p{
    text-align: center;
}

.artist-pop{
    position: relative;
    overflow: hidden;
}
.artist-pop::after{
    position: absolute;
    content: "trending";
    padding: 1px 24px;
    background-color: yellow;
    
    right: -18px;
    top: 15px;
    transform: rotate(45deg);
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
}









.player{
    
    padding: 10px 60px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    border-radius: 20px;
    background-image: linear-gradient(to  bottom,rgba(0,0,0,0.05),#edf1f4);
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),0px 0px 20px #fff;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    align-items: center;
    justify-content:space-between;
    
}

.song-details{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.name{
    font-family: 'Caveat', cursive;
    font-size: 2.8rem;
}



.main-btns{
   
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.song-nav{
  
    font-size: 32px;
}

/* Pause Button is hidden initially */
.play{
    font-size: 28px;
    color: purple;
}
.pause{
    font-size: 28px;
    display: none;
    color: purple;
}

.timeline{
   
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    appearance: none;
    border-radius: 50px;
    width: 80%;
    height: 15px;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),-5px -5px 10px #fff,inset 5px 5px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 2px solid purple;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -407px 0 0 400px purple;
}

.loop{
    display: flex;
    gap: 20px;
}

.song-option{
    
    font-size: 2rem;
}



/* Task Form */
.task-form{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.615);
    display: none;
    z-index: 100;
    
}

.form{
    min-width: 400px;
    
    min-height: 300px;
    background-color: rgb(230, 230, 250);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
    padding-bottom: 5rem;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

.form-title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.form-close{
    font-size: 3.6rem;
    justify-self: end;
    cursor: pointer;
}

.form-title h1{
    
    grid-column: span 2;
    justify-self: end;
    transform: translateX(-20%);
}

.form input{
    font-family: inherit;
    font-size: 1.8rem;
    width: 80%;
    padding: 1.2rem 2rem;
    border: 1px solid #000;
    outline: none;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    color: var(--main-text-color);
}

.form p{
    font-weight: 500;
}

textarea{
    background-color: #1F1D24;
    color: var(--main-text-color);
    font-family: inherit;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    padding: 1.2rem 2rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    resize: none;
}

.save,.save:focus{
    width: 80%;
    padding: 1.2rem;
    background-color: #2f9e44;
    color: var(--main-text-color);
    border: none;
    outline: none;
    border-radius: 10px;
}

.save:hover{
    background-color: #37b24d;
    cursor: pointer;
}


/* Song Successfull message */

.success-msg{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-25%);
    display: none;
    
}

.success-msg p{
    padding: 12px 24px;
    background-color: green;
    color: white;
    border-radius:20px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Song Error message */

.error-msg{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-25%);
    display: none;
    
}

.error-msg p{
    padding: 12px 24px;
    background-color: orangered;
    color: white;
    border-radius:20px;
    font-size: 1.2rem;
    font-weight: 500;
}



  

  
